- var nombreCompleto = "André Ribet A."

doctype html
html(lang="es")
	include components/head
	body
		include components/header
		include components/main403
		include components/footer
		include components/scripts



