- var nombreCompleto = "André E. Ribet Almeyda"

doctype html
html(lang="es")
	include components/head
	body
		include components/header
		include components/main
		include components/footer
		include components/scripts



