footer {
	position: relative;
	padding: 1em 0;
	background-color: #373a3c;
	.botonera {
		// @extend .btn-group, .btn-group-sm;
		@media (min-width: 400px) {
			// background-color: #fff;
		}
	}
	a {
	  @extend .btn, .btn-sm, .btn-success;
	  margin: 0.5em;
	}
}