body {
  background-color: lightgreen;
  min-height: 100vh;

  //footer adhesivo
  display: flex;
  flex-direction: column;
  
}
main {
  flex: 1 0 auto; //footer adhesivo
  margin-top: 6em;
  .contenido {
    margin-top: 1em;
  }
  a {
    @extend .btn, .btn-primary;
    box-shadow: 0 10px 15px -7px rgba(black, 0.5);
    margin: 0.3em;
    text-shadow: 0 1px 3px rgba(black, 0.3);
    i {
      margin-right: .5em;
    }
  }
}

.portada {
  a {
    @extend .btn-lg;
  }
}

.spock {
  opacity: 0.2;
  position: absolute;
  right: 0.1em;
  text-shadow: 0 1px 3px rgba(black, 0.3);
  top: -4.1em;
  i {
    font-size: 4em;
  }
}
