footer
	.container
		.row
			.col-xs-12
				.botonera
					a(href="mailto:aribet@gmail.com" title="manda un mail" target="_blank" role="button" data-toggle="tooltip" data-placement="top" )
						i.fa.fa-envelope
						|  aribet@gmail.com
					a(href="http://twitter/aribet" title="escribe un twitt" target="_blank" role="button" data-toggle="tooltip" data-placement="top" )
						i.fa.fa-twitter
						|  @aribet
					a(href="http://www.aribet.tk" title="vuele aquí mismo" target="_blank" data-toggle="tooltip" data-placement="top" )
						i.fa.fa-globe
						|  www.aribet.tk

