//- header.jade
header
	.container-fuid
		nav
			.container
				.row
					h1.navbar-brand 
						img(src="img/ar.jpeg", alt="")
						span.nombre #{nombreCompleto}
						small  diseñador grafico/web/3D
