head
	meta(charset="UTF-8")
	title #{nombreCompleto}
	meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
	meta(http-equiv="x-ua-compatible" content="ie=edge")
	//- importa estilos personalizados
	link(rel="stylesheet" href="css/style.css" type="text/css")
	//- estadisticas de google
	script(src="js/analytics.js")
	script(async data-id="82168" src="https://cdn.widgetwhats.com/script.min.js")
	//- Start of Async Callbell Code
	script(window.callbellSettings = {token: "fMpHBD3qzQAMj6qWvwHuqQm1"})
	script(src="callbell.js")
