//- main
main
	.container
		.row
			.contenido.col-xs-12
				a(href="http://www.aribet.tk" title="vuele aquí mismo" target="_blank" data-toggle="tooltip" data-placement="top" )
					i.fa.fa-globe
					|  www.aribet.tk
				a(href="mailto:aribet@gmail.com" title="manda un mail, siempre los leo ... no siempre respondo" target="_blank" role="button" data-toggle="tooltip" data-placement="top" )
					i.fa.fa-envelope
					|  aribet@gmail.com
				a(href="http://twitter/aribet" title="a ratos digo algo" target="_blank" role="button" data-toggle="tooltip" data-placement="top" )
					i.fa.fa-twitter
					|  @aribet
				a(href="https://github.com/aribet" title="el geek que llevo dentro" target="_blank" data-toggle="tooltip" data-placement="top" )
					i.fa.fa-github
					|  aribet
				a(href="https://gitlab.com/u/aribet" title="mi memoria laboral" target="_blank" data-toggle="tooltip" data-placement="top" )
					i.fa.fa-gitlab
					|  @aribet
				a(href="https://plus.google.com/+AndréRibetA" title="solo como experimento" target="_blank" data-toggle="tooltip" data-placement="top" )
					i.fa.fa-google-plus
					|  André Ribet A.
				a(href="https://www.facebook.com/andre.ribet" title="sólo social" target="_blank" data-toggle="tooltip" data-placement="top" )
					i.fa.fa-facebook
					|  andre.ribet
				a(href="www.linkedin.com/in/andreribet" title="para obtener mis servicios" target="_blank" data-toggle="tooltip" data-placement="top" )
					i.fa.fa-linkedin
					|  André Ribet A.
				a(href="https://goo.gl/maps/1LbjScM4DpB2" title="casi siempre ando por aquí" target="_blank" data-toggle="tooltip" data-placement="top" )
					i.fa.fa-map-marker
					|  Talcahuano

