//- main
main
	.container
		.row
			.contenido.col-xs-12
				h2
					small error
					|  403 
					i.fa.fa-exclamation-triangle
				div lo siento, el acceso está denegado o prohibido 
					strong
						i.fa.fa-ban
				a(href="/" title="vuelve al inicio" data-toggle="tooltip" data-placement="top" )
					i.fa.fa-blind
					|  volver al inicio
