//- main
main.portada
	.container
		.row.personal
			.contenido.col-xs-12
				h2 Personal 
					i.fa.fa-smile-o
				a(href="/" title="Usted está aquí" target="_blank" data-toggle="tooltip" data-placement="top" )
					i.fa.fa-globe
					|  www.aribet.tk
				a(href="/" title="Usted está aquí [alternativo]" target="_blank" data-toggle="tooltip" data-placement="top" )
					i.fa.fa-globe
					|  www.andreribet.tk [alt]
				a(href="mailto:aribet@gmail.com" title="envia un email, siempre los leo, siempre respondo" target="_blank" role="button" data-toggle="tooltip" data-placement="top" )
					i.fa.fa-envelope
					|  aribet@gmail.com
				a(href="+5699919095" title="Los mensajes a +56 999919095" target="_blank" data-toggle="tooltip" data-placement="top" )
					i.fa.fa-whatsapp
					|  guasap
				a(href="http://twitter/aribet" title="a ratos digo algo" target="_blank" role="button" data-toggle="tooltip" data-placement="top" )
					i.fa.fa-twitter
					|  @aribet
				a(href="https://github.com/aribet" title="el geek que llevo dentro" target="_blank" data-toggle="tooltip" data-placement="top" )
					i.fa.fa-github
					|  aribet
				a(href="https://gitlab.com/u/aribet" title="mi memoria laboral" target="_blank" data-toggle="tooltip" data-placement="top" )
					i.fa.fa-gitlab
					|  @aribet
				a(href="https://plus.google.com/+AndréRibetA" title="solo como experimento" target="_blank" data-toggle="tooltip" data-placement="top" )
					i.fa.fa-google-plus
					|  André Ribet A.
				a(href="https://www.facebook.com/andre.ribet" title="sólo social" target="_blank" data-toggle="tooltip" data-placement="top" )
					i.fa.fa-facebook
					|  andre.ribet
				a(href="www.linkedin.com/in/andreribet" title="para obtener mis servicios" target="_blank" data-toggle="tooltip" data-placement="top" )
					i.fa.fa-linkedin
					|  André Ribet A.
				a(href="https://goo.gl/maps/1LbjScM4DpB2" title="casi siempre ando por aquí" target="_blank" data-toggle="tooltip" data-placement="top" )
					i.fa.fa-map-marker
					|  Talcahuano
		.row.laboral
			.contenido.col-xs-12
				h2 Laboral 
					i.fa.fa-suitcase
				a(href="http://www.anglo.cl" title="Laboral mas personal" target="_blank" data-toggle="tooltip" data-placement="top" )
					i.fa.fa-globe
					|  www.anglo.cl
				a(href="http://www.jreyes.cl" title="Media jornada" target="_blank" data-toggle="tooltip" data-placement="top" )
					i.fa.fa-globe
					|  www.jreyes.cl
				a(href="http://www.advision.cl" title="Media jornada" target="_blank" data-toggle="tooltip" data-placement="top" )
					i.fa.fa-globe
					|  www.advision.cl
				a(href="http://www.alojamientolaparcela.cl" title="Familiar Laboral" target="_blank" data-toggle="tooltip" data-placement="top" )
					i.fa.fa-globe
					|  www.alojamientolaparcela.cl

