//- main
main
	.container
		.row
			.contenido.col-xs-12
				h2
					small error
					|  404 
					i.fa.fa-exclamation-triangle
				div lo siento, lo que buscas no está por aquí 
					strong
						i.fa.fa-frown-o
				a(href="/" title="vuelve al inicio" data-toggle="tooltip" data-placement="top" )
					i.fa.fa-blind
					|  volver al inicio
